@import "tailwindcss";

body {
  font-family: Inter, sans-serif;
}

@keyframes fadeSlideDown {
  from {
    opacity: 0;
    transform: translateY(-6px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes scaleFade {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-fade-slide {
  animation: fadeSlideDown 0.15s ease-out forwards;
}

.animate-scale-fade {
  animation: scaleFade 0.15s ease-out forwards;
}
